html{
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	
font-style: normal;
color: #FFFFFF;

}
*,
*::after,
*::before{
	box-sizing: inherit;
}
a{
	
}
body{
	
}
.container{
	max-width: 1310px;
	padding: 0 10px;
	margin-left: auto;
	margin-right: auto;
}
.header{
	background-image: url(/images/header.png);
	min-height: 389px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;

}
.header__content{
	position: relative;
}
.header__cooperation{
	position: absolute;
	
	width: 793px;
	height: 180px;
	background: #1D1D1D;

	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
	border-radius: 30px;
	margin-top: 299px;
	margin-left: 249px;
	padding: 38px 138px;
}
.header__cooperation-title{
	
font-weight: 700;
font-size: 40px;
line-height: 130%;
/* or 52px */

text-align: center;

}
.header__cooperation-yellow{
	color: #FAFF00;

}
.platform{
	/* background-color: #E5E5E5; сливается с блоками */
	padding-top: 167px;
}
.platform__header{}
.platform__header-text{
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
	
	color: #373737;
	text-align: center;
	margin: 0px 0 115px;
}
.platform__content{
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	
	color: #1D1D1D;
	display: flex;
	justify-content: space-between;
	margin-bottom: 237px;
}


.platform__left{
	position: relative;
	margin-right: 30px;
}
.platform__left::after{
	position: absolute;
width: 3px;
height: 711px;
left: 348px;
top: 0;
z-index: -1;

content: "";
background-color: #FAFF00;
/* border: 3px solid #FAFF00; */
}
.platform__left-block:nth-child(1) {
	width: 410px;
	height: 128px;
	
	background-color: #1D1D1D;
	/* тень блока партнерство */
	
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
	border-radius: 30px;
	padding: 20px 43px;
	margin-bottom: 35px;
  }
  .platform__left-block:nth-child(2){
	width: 410px;
	height: 278px;
	
	background: #E7E6E6;
	border-radius: 30px;
	padding: 23px 43px;
	margin-bottom: 30px;

  }
  .platform__left-block:nth-child(2) .platform__left-text{
	  margin-bottom: 20px;
  }
  .platform__left-block:nth-child(4){
	width: 410px;
	height: 184px;
	
	background: #E7E6E6;
	border-radius: 30px;
	padding: 20px 43px;

  }
.title-yellow{
	font-weight: 600;
	font-size: 24px;
	line-height: 29px;
	text-align: center;
	
	color: #FAFF00;
}
.platform__left-text{
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	
	color: #1D1D1D;

}
.platform__left-items{}
.platform__left-item .platform__left-txt{

}

.platform__left-item{
	list-style-type: none;
	margin-left: 30px;
	position: relative;
}
.platform__left-item::before{
	position: absolute;
	content: "";
	left: -14px;
	top: 10px;
	width: 3px;
	height: 3px;
	border-radius: 50%;
	background-color: #1D1D1D;


}
.platform__left-link{
	font-weight: 600;
	font-size: 20px;
	line-height: 130%;
	/* identical to box height, or 26px */
	
	display: block;
	color: #1D1D1D;
	margin-bottom: 30px;

}
.platform__line{

}

.platform__centre{
	margin-right: 31px;
}
.platform__eduexp{
	width: 180px;
	height: 180px;
	border-radius:50%;
	margin: 131px auto 160px;
	padding: 28px 54px;
	background: #1D1D1D;
	position: relative;
}
.platform__eduexp-img{
	display: block;
}
.platform__eduexp-l{
	left: -145px;
	top: -70px;
	position: absolute;
	background-image: url(/images/Vector2.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	height: 170px;
	width: 146px;
	padding: 1px;
	z-index: -1;
}
.platform__eduexp-r{
	position: absolute;
	background-image: url(/images/Vector1.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	height: 184px;
	width: 150px;
	left: 178px;
	top: -85px;
	z-index: -1;
}


.platform__centre-block{
	width: 410px;
	height: 310px;
	
	background: #E7E6E6;
	border-radius: 30px;
padding: 27px 44px;
position: relative;
}
.platform__centre-block:nth-child(2)::before{
	position: absolute;
	width: 30px;
	height: 3px;
	content: "";
	background-color: #FAFF00;
	left: -30px;
	top: 50%;
}
.platform__centre-text{
	margin-bottom: 20px;
}
.platform__centre-items{}
.platform__centre-item{
	list-style-type: none;
	margin-left: 30px;
	position: relative;
}
.platform__centre-item::before{
	position: absolute;
	content: "";
	left: -14px;
	top: 10px;
	width: 3px;
	height: 3px;
	border-radius: 50%;
	background-color: #1D1D1D;


}

.platform__right{width: 410px;}
.platform__right-block{
	
width: 410px;
height: 93px;

background: #1D1D1D;
/* тень блока партнерство */

box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
border-radius: 30px;
padding: 32px 57px;
margin-bottom: 48px;
}
/* .platform__right:nth-child(3){
	
font-weight: 600;
font-size: 20px;
line-height: 130%;

color: #1D1D1D;
} */
.platform__right-text{
	margin-bottom: 35px;
}
.platform__right-text span{
	font-weight: 600;
	font-size: 20px;
	line-height: 130%;
	
	color: #1D1D1D;

}
.platform__right-link{
	font-weight: 600;
	font-size: 20px;
	line-height: 130%;
	
	
	color: #1D1D1D;}
	@media (max-width: 1140px){
		.platform__left-block:nth-child(1),.platform__left-block:nth-child(2),.platform__left-block:nth-child(4){
			width: 350px;
		}
		.platform__left-block:nth-child(2){
			height: 250px;
		}
		.platform__left-block:nth-child(4){
			height: 185px;
		}
		.platform__centre-block{
			width: 350px;
			height: 280px;
		}
		.platform__right-block{
			width: 350px;
		}
		.header__cooperation{
			margin-left: 173px;
		}
		.title-yellow{
			font-size: 16px;
		}
		.platform__left-text{
			font-size: 16px;

		}
		.platform__content,.platform__right-text span,.platform__right-link,.platform__left-link{
			font-size: 16px;

		}
		.platform__left::after{
			left: 320px;
			
			height: 600px;
		}
		.platform__eduexp-l{
		left: -122px;
		width: 125px;
		}
		.platform__eduexp-r{
			width: 122px;
		}
	}
	@media (max-width: 1024px){
		.platform__left-block:nth-child(1),.platform__left-block:nth-child(2),.platform__left-block:nth-child(4),.platform__right-block{
			width: 300px;
		}
		.platform__left-block:nth-child(1){
			height: 95px;
		}
		.platform__left-block:nth-child(2){
			height: 230px;
		}
		.platform__left-block:nth-child(4){
			height: 150px;
		}
		.platform__right-block{
			height: 80px;
		}
		.platform__centre-block{
			width: 300px;
			height: 240px;
		}
		.header__cooperation{
			margin-left: 125px;

		}
		.platform__left-block:nth-child(2) .platform__left-text,.platform__centre-text{
			margin-bottom: 4px;
		}
		.platform__content,.platform__right-text span,.platform__right-link,.platform__left-link,.title-yellow,.platform__left-text{
			font-size: 14px;
			line-height: 18px;

		}
		.platform__left::after{
			left: 250px;
			
			height: 550px;
		}
		.platform__eduexp-l{
		left: -101px;
		width: 108px;
		}
		.platform__eduexp-r{
			width: 105px;
			height: 170px;
			left: 157px;
			top: -68px;
		}
		.platform__eduexp-img{
			height: 100%;
		}
		.platform__eduexp{
			height: 160px;
			width: 160px;
			margin: 92px auto 120px;
		}
	}
	@media (max-width: 900px){
		
		.platform__left-block:nth-child(1),.platform__left-block:nth-child(2),.platform__left-block:nth-child(4),.platform__right-block{
			width: 260px;
			padding: 15px 25px;
			margin-bottom: 20px;
		}
		.platform__left-block:nth-child(1){
			height: 95px;
		}
		.platform__left-block:nth-child(2){
			height: 230px;
		}
		.platform__left-block:nth-child(4){
			height: 150px;
		}
		.platform__right-block{
			height: 50px;
			padding: 15px 25px;
			margin-bottom: 20px;
		}
		.platform__centre-block{
			width: 260px;
			height: 240px;
			padding: 15px 25px;
			margin-bottom: 20px;
		}
		.header__cooperation{
			margin-left: 125px;
			width: 600px;
			height: 130px;
			margin-top: 320px;
		}
		.platform{
			padding-top: 100px;
		}
		.platform__header-text{
			margin-bottom: 80px;
		}
		.header__cooperation-title{

			font-size: 24px;
		}
		.platform__left-block:nth-child(2) .platform__left-text,.platform__centre-text{
			margin-bottom: 4px;
		}
		.platform__content,.platform__right-text span,.platform__right-link,.platform__left-link,.title-yellow,.platform__left-text{
			font-size: 14px;
			line-height: 18px;

		}
		.platform__left::after{
			left: 230px;
			
			height: 550px;
		}
		.platform__eduexp-l{
		left: -101px;
		width: 108px;
		height: 128px;
		top: -60px;
		}
		.platform__eduexp-r{    
			width: 98px;
			height: 143px;
			left: 129px;
			top: -72px;
		}
		.platform__eduexp-img{
			height: 100%;
			margin-left: -6px;
		}
		.platform__eduexp{
			height: 130px;
			width: 130px;
			margin: 92px auto 100px;
		}
	}
	@media (max-width: 768px){
		.header__cooperation{
			margin-left: 123px;
			width: 500px;
		}
		.header__cooperation-title{

			font-size: 18px;
		}
		.platform__header-text {
			margin-bottom: 30px;
		}
		.platform__left-block:nth-child(1),.platform__left-block:nth-child(2),.platform__left-block:nth-child(4),.platform__right-block,.platform__centre-block{
			width: 230px;
			padding: 15px 25px;
			margin-bottom: 20px;
		}
		.platform__content,.platform__right-text span,.platform__right-link,.platform__left-link,.title-yellow,.platform__left-text{
			font-size: 12px;
			line-height: 18px;

		}
		.platform__left::after{
			left: 200px;
		}
		.platform__eduexp-l {
			left: -82px;
			width: 88px;
			height: 113px;
			top: -48px;
		}
		.platform__eduexp-r {
			width: 82px;
			height: 140px;
			left: 129px;
			top: -75px;
		}
	}
	@media (max-width: 650px){
		.header__cooperation{
			margin-left: 175px;
			width: 300px;
			height: 70px;
			padding: 10px 20px;
			margin-top: 350px;
		}
		.header__cooperation-title{

			font-size: 16px;
		}
		.platform{
			padding-top: 40px;
		}
		.platform__header-text {
			margin-bottom: 30px;
		}
		.platform__left-block:nth-child(1),.platform__left-block:nth-child(2),.platform__left-block:nth-child(4),.platform__right-block,.platform__centre-block{
			width: 180px;
			padding: 10px 15px;
			margin-bottom: 20px;
		}
		.platform__left-block:nth-child(1){
			height: 80px;
		}
		.platform__left-block:nth-child(2){
			height: 250px;
		}
		.platform__left-block:nth-child(4){
			height: 170px;
		}
		.platform__right-block{
			height: 50px;
		}
		.platform__centre-block{
			height: 240px;
		}
		.platform__content,.platform__right-text span,.platform__right-link,.platform__left-link,.title-yellow,.platform__left-text{
			font-size: 12px;
			line-height: 18px;

		}
		.platform__left::after{
			left: 152px;
		}
		.platform__eduexp {
			height: 130px;
			width: 130px;
			margin: 96px auto 138px;
		}
		.platform__eduexp-l {
			left: -60px;
		}
		.platform__eduexp-r {
			width: 100px;
			left: 90px;
		}
	}
	@media (max-width: 520px){
		.header__cooperation{
			margin-left: 120px;
		}
		.platform__content{
			display: block;
		}
		.platform__left-block:nth-child(1),.platform__left-block:nth-child(2),.platform__left-block:nth-child(4),.platform__right-block,.platform__centre-block{
			width: 100%;
			margin-bottom: 15px;
		}
		.platform__left-block:nth-child(1){
			height: 60px;
		}
		.platform__left-block:nth-child(2){
			height: 140px;
		}
		.platform__left-block:nth-child(4){
			height: 95px;
		}
		.platform__right-block{
			height: 40px;
		}
		.platform__centre-block{
			height: 150px;
		}
		.platform__eduexp{
			display: none;
		}
		.platform__right,.platform__left,.platform__centre{
			width: 416px;
			margin-right: auto;
			margin-left: auto;
		}
		.platform__centre-block:nth-child(2)::before{
			display: none;
		}
		.platform__left::after {
			left: 240px;
			height: 500px;
		}
		.platform__left-link,.platform__right-link,.platform__right-text{
			margin-bottom: 15px;
		}
		.platform__header-text{
			font-size: 16px;
		}
	}
	
	@media (max-width: 440px){
		.header__cooperation{
			margin-left: 60px;
		}
		.platform__right,.platform__left,.platform__centre{
			width: 350px;
		}
		
	}
	@media (max-width: 390px){

		.header__cooperation{
			margin-left: 75px;
			width: 220px;
		}
		.platform__right,.platform__left,.platform__centre{
			width: 300px;
		}
		
	}
	
	@media (max-width: 340px){
		.header__cooperation{
			margin-left: 50px;
		}
		

	}
